@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.explore-container {
	width: 80%;
	margin: auto;
	padding: 2rem 0 0 0;
}

.explore-cardlist {
	display: grid;
	grid-template-columns: 450px 450px 450px;
	grid-auto-rows: max-content;
	gap: 15px 10px;
}

@media all and (max-width: 415px) {
	.explore-container {
		width: 100%;
	}

	.explore-heading {
		display: flex;
		align-items: center;
		margin-left: 0.5rem;
		font-family: "Raleway", sans-serif;
	}

	.explore-cardlist {
		padding: 0 0.2rem 0 0.3rem;
		display: grid;
		grid-template-columns: 400px;
		grid-auto-rows: max-content;
		gap: 15px 10px;
	}
}

@media all and (max-width: 375px) {
	.explore-container {
		width: 100%;
	}

	.exploreheading-heading {
		display: flex;
		align-items: center;
		margin-left: 0.5rem;
		font-family: "Raleway", sans-serif;
	}

	.explore-btn-add {
		margin-left: 30%;
		color: white;
		background-color: #10ab00;
		border: none;
		height: 45px;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
		border-radius: 8px 8px 8px 8px;
		font-size: 15px;
		font-family: "Raleway", sans-serif;
	}

	.explore-cardlist {
		padding: 0 0.2rem 0 0.2rem;
		display: grid;
		grid-template-columns: 368px;
		grid-auto-rows: max-content;
		gap: 15px 10px;
	}
}
