<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add New User</title>
	</head>
	<body>
		<form action="/users/signup" method="POST">
			<label>Username</label>
			<input name="username" type="text" />
			<label>Email</label>
			<input name="email" type="text" />
			<label>Password</label>
			<input name="password" type="text" />
			<input type="submit" />
		</form>
	</body>
</html>
